body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  font-size: 36px;
}

.dashboard-link {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  width: calc(33.33% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.dashboard-link a {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}

.logout-link {
  background-color: #f44336;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
}
